* {
  margin: 0;
  padding: 0;
  font-family: "comic sans ms", arial, helvetica, sans-serif;
}

h1 {
  /* color: rgb(0, 0, 0); */
  font-size: 2em;
}

h2 {
  color: white;
  font-size: 1.5em;
}

/* Definindo o ::placeholder para todos os navegadores */

#inputPlayer1::-webkit-input-placeholder,
::-moz-placeholder {
  color: white;
}

#inputPlayer2::-webkit-input-placeholder,
#inputPlayer2::-moz-placeholder {
  color: white;
}

/* Inicio do código da página */

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(50, 50, 50);
}

/* Keyframe (esmaecer) para as Divs */

@keyframes openDiv {
  from {
    margin-left: -5000px;
    width: 400px;
    background-color: rgb(5, 50, 100);
  }

  to {
    margin: 0;
    width: 450px;
    background-color: rgb(57, 145, 245);
  }
}

@keyframes closeEffectApresentation {
  from {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 450px;
    height: 200px;
    background-color: rgb(57, 145, 245);
    box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
    border-radius: 15px;
    text-align: center;
  }

  to {
    margin-bottom: 5000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 450px;
    height: 200px;
    background-color: rgb(57, 145, 245);
    box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
    border-radius: 15px;
    text-align: center;
  }
}

@keyframes closeEffectRest {
  from {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 450px;
    box-sizing: border-box;
    background-color: rgb(57, 145, 245);
    box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
    border-radius: 15px;
    text-align: center;
  }

  to {
    margin-bottom: 5000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 450px;
    box-sizing: border-box;
    background-color: rgb(57, 145, 245);
    box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
    border-radius: 15px;
    text-align: center;
  }
}

@keyframes ReOpenEffectRest {
  from {
    margin-left: -5000px;
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 450px;
    box-sizing: border-box;
    background-color: rgb(57, 145, 245);
    box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
    border-radius: 15px;
    text-align: center;
  }

  to {
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 450px;
    box-sizing: border-box;
    background-color: rgb(57, 145, 245);
    box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
    border-radius: 15px;
    text-align: center;
  }
}

.closeEffectApresentation {
  animation: closeEffectApresentation 1s linear Forwards;
}

.closeEffectRest {
  animation: closeEffectRest 700ms linear 1 alternate both;
}

.ReOpenEffectRest {
  animation: ReOpenEffectRest 700ms linear 1 alternate both;
}

/* Div: Tela de apresentação do jogo*/

.apresentation {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 450px;
  height: 200px;
  background-color: rgb(57, 145, 245);
  box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
  border-radius: 15px;
  text-align: center;
  animation-name: openDiv;
  animation-duration: 1s;
}

.apresentation h1 {
  margin: 20px 0 0 0;
  text-shadow: 2px 2px 5px rgb(82, 82, 82);
}

#buttonContinuar {
  margin: 50px 0 10px 0;
  padding: 10px;
  align-self: center;
  background-color: white;
  box-shadow: 0px 0px 25px 0.5px rgb(10, 100, 200);
  border: none;
  border-radius: 7px;
  color: rgb(57, 145, 245);
  font-weight: bold;
  font-size: 1.2em;
  transition-property: all;
  transition-duration: 600ms;
}

#buttonContinuar:hover {
  background-color: rgb(26, 66, 111);
  color: white;
}

/* Div: Seleção dos jogadores */

.playerConfiguration {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 450px;
  box-sizing: border-box;
  background-color: rgb(57, 145, 245);
  box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
  border-radius: 15px;
  text-align: center;
  animation-name: openDiv;
  animation-duration: 1s;
}

.playerConfiguration h2 {
  margin-top: 10px;
  padding: 10px;
  text-shadow: 2px 2px 5px rgb(70, 70, 70);
}

.player1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 10px;
}

#symbolPlayer1 {
  width: 75px;
}

#inputPlayer1 {
  align-self: center;
  margin: 0 0 0 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.player2 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 10px;
}

#symbolPlayer2 {
  /* margin: 0 0 0 -15px; */
  width: 100px;
}

#inputPlayer2 {
  align-self: center;
  margin: 0 0 0 -5px;
  padding: 5px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

#buttonComecar {
  margin: 10px 0 20px 0;
  padding: 10px;
  align-self: center;
  background-color: white;
  box-shadow: 0px 0px 25px 0.5px rgb(10, 100, 200);
  border: none;
  border-radius: 7px;
  color: rgb(57, 145, 245);
  font-weight: bold;
  font-size: 1.2em;
  transition-property: all;
  transition-duration: 600ms;
}

#buttonComecar:hover {
  background-color: rgb(26, 66, 111);
  color: white;
}

.alertMsg {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 450px;
  box-sizing: border-box;
  background-color: rgb(57, 145, 245);
  box-shadow: 0px 0px 15px 2px rgb(57, 145, 245);
  border-radius: 15px;
  animation-name: openDiv;
  animation-duration: 1s;
}

.alertMsg h1 {
  padding: 20px 20px 0 20px;
  /* color: rgb(0, 0, 0); */
  text-shadow: 2px 2px 5px rgb(80, 80, 80);
}

.alertMsg h2 {
  padding-bottom: 20px;
  text-shadow: 2px 2px 5px rgb(70, 70, 70);
}

#alertButton {
  margin-bottom: 20px;
  padding: 10px;
  align-self: center;
  background-color: white;
  box-shadow: 0px 0px 25px 0.5px rgb(10, 100, 200);
  border: none;
  border-radius: 7px;
  color: rgb(57, 145, 245);
  font-weight: bold;
  font-size: 1.2em;
  transition-property: all;
  transition-duration: 600ms;
}

#alertButton:hover {
  background-color: rgb(26, 66, 111);
  color: white;
}

/* Div para o dashboard do jogo */

#imageX {
  width: 20px;
}

h1 {
  color: white;
}

.game {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 5% 0 0 0;
}

.msg {
  background-color: rgb(218, 186, 160);
}

.stage,
h1 {
  margin-bottom: 25px;
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: -5px;
  background-color: rgb(218, 186, 160);
  border: 1px solid gray;
}

.o {
  position: relative;
  text-align: center;
}

.o::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "O";
  font-size: 75px;
  line-height: 100px;
  color: rgb(54, 54, 54);
}

.x {
  position: relative;
  text-align: center;
}

.x::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "X";
  font-size: 75px;
  line-height: 100px;
  color: rgb(54, 54, 54);
}

button {
  color: black;
}
